a{
    text-decoration: none;
    color: #000;
}
.mycontainer{
    margin: 0 5%;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap:15px 10px ;


}
.card{
    width: calc(100% /6.5);
    box-shadow: 5px 5px 5px lightblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px;
    position: relative;
    cursor: pointer;
}
.card:hover{
    border: 2px solid #025002;
}



.card img{
    border-top-left-radius: 31px;
}
.card-body{
    padding-top: 0 !important;
    padding-bottom: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title{
    font-size: 16px ;
}
.price{
    font-weight: 600;
    color: #FF512F;
}
.quantity{
    border-top-left-radius: 33px;
    border-bottom-right-radius: 29px;
    font-size: 13px;

}
.cart{
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.cart:hover > i{
    color: #fbff00;
}



/* alert */
.alert{
    position: fixed;
    top: 150px;
    right: 0;
    z-index: 1000;
    width: 0;
    visibility: hidden;
    padding-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
  }
  .bar{
    width: 100%;
    height: 5px;
    animation: anim2 5s linear forwards;
    margin-top: 8px;
    margin-left: -10px;
  }
  
  @keyframes anim2{
    100%{
        width: 0;
    }
  }
   
  .open-notification{
    visibility: visible;
    width: 50%;
  }
  .close-notification{
    visibility: hidden;
  }
  
  .disabled{
    background-color: rgb(173, 173, 173);
    border: 2px solid #9e9e9e;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 14px;
    width: 100%;
   
  }

@media screen and (max-width:991px) {
    .card{
        width: calc(100% /5.5);
    }

    .quantity, .cart{
        font-size: 12px;
    }
}

@media screen and (max-width:840px) {
    .card{
        width: calc(100% /4.3);
    }
}
  
@media screen and (max-width:767px) {
    .alert{
      position: fixed;
      top: 120px;
    }
    .open-notification{
      width: 80% !important;
    }
  }

@media screen and (max-width:689px) {
    .card{
        width: calc(100% /3.2);
    }
}

@media screen and (max-width:500px) {
    .card{
        width: calc(100% /2.1);
    }
}



  