
.small-topbanner{
    display: flex;
    justify-content: end;
    background-color: #013d01;
    width: 100%;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 3px;
    padding-right: 30px;
}
.line{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
}

.signup{
    display: flex;
    font-size: 14px;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}
.signup:hover{
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #000000;
}

.small-topbanner div img{
    cursor: pointer;
}
.navbar-categories{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 100;
}
.navbar{
    background-color: #fff !important;
    padding: 0 20px !important;
}

/* 4cbb17 */
.navbar-brand img{
    height: 60px;
}
li a:hover{
    color: #013d01;
    font-weight: 600;

}

.navbar-toggler{
    font-size: 16px;
    margin-left: 10px;
    box-shadow: none;
}

.navButtons{
    display: flex;
    font-size: 24px;
    gap: 18px;
    cursor: pointer;
    color: #013d01;
}

.navButtons .badge{
    font-size: 7px !important;
}
.navButtons2{
    display: none;
}

@media screen and (max-width:991px) {
    .navButtons1{
        display: none;
    }
    .navButtons2{
        display: flex;
    }
    .small-topbanner{
        display: none;
    }
    .navbar{
    
        border-top: 10px solid #013d01 ;
    }
}

@media screen and (max-width:767px) {
    app-search{
        display: none;
    }
    .navButtons2{
        margin-top: 10px;
    }
}

@media screen and (max-width:575px) {
    .navButtons{
        font-size: 20px;
    }
    .navButtons2{
        margin-top: 10px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .navbar{
        background-color: #fff !important;
        padding: 0 15px !important;
    }
}

.nav-item{
    position: relative;
}
.active{
    color: #013d01;
    font-weight: 600;
}
.active::after{
    content: '';
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 2px;
    background-color: #013d01;
}
